table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 96%;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

.grid__colorpickers {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 74% 24%;
}

header {
  background-color: brown;
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}

header .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

.controls__colorpickers {
  text-align: center;
}

.controls__colorpickers .background {
  margin-bottom: 10px;
}

.controls__colorpickers h3 {
  margin-bottom: 12px;
  color: brown;
}

.twitter__picker {
  width: 90% !important;
}

/* controls */

.controls__container {
  margin-top: 8px;
  background-color: chocolate;
  height: 5rem;
}
